  /* Scrollbar Start */ 
::-webkit-scrollbar-track
  {
  border-radius: 2px;
  }
  
::-webkit-scrollbar
  {
  width: 5px;
  background-color: #F7F7F7;
  }
  
::-webkit-scrollbar-thumb
  {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #BFBFBF;
  }
  /* Scrollbar End */

.dropInput ::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

.dropInput ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #BFBFBF;
}

.dropInput ::-webkit-scrollbar-track
{
    border-radius: 2px;
    background-color: transparent;
}

.fit-w {
    width:fit-content;
}

.fit-h {
    height: fit-content;
}

.txt-male {
    color:rgb(126, 183, 236);
}

.bg-male {
    background-color:rgb(126, 183, 236);
}

.txt-female {
    color:rgb(229, 160, 209);
}

.bg-female {
    background-color:rgb(229, 160, 209);
}

.settingsElem {
    padding: 6px 10px 6px 10px;
    background-color:rgba(189, 189, 189, 0.123);
    margin-bottom:8px;
    border-radius: 5px;
}